package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${mainPath}.common.page.PageQueryVo;
import ${mainPath}.common.page.PageInfo;
import ${package}.${moduleName}.entity.${className}Entity;


/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}Entity> {

    /**
     * 无条件翻页查询
     * @param queryVo 分页查询参数
     * @return
     */
    PageInfo<${className}Entity> queryPage(PageQueryVo queryVo);
}

